<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2001</title>
</head>
<body>

<h2>Rulls of the game:</h2><br />

<h3>

  <ul>

  <li>Pick the dices: D3, D4, D6, D8, D10, D12, D20, D100</li>

  <li>Roll 2 dices</li>

  <li>Every time sum points of your throws equal 7 you have to divide your score by it</li>

  <li>Every time sum points of your throws equal 11 you multiply your score by it</li>

  <li>You can play only vs computer</li>

  </ul>

</h3>

<form method="POST">
        <input type="submit"
               name="answer"
               value="Start">
</form>
</body>
</html>